export
.DS_Store
.env
build
.vagrant
vendor
*.iso
*.box
terraform.tfstate*
.terraform
node_modules
bundle.js
id_rsa*

CMakeCache.txt
CMakeFiles

# ansible
*.retry

.envrc
*.log

yarn.lock
yarn-error.log
