[Unit]
Description=Nginx Reverse Proxy
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker create -it \
  --link rocketchat.service:rocketchat -p 80:80 \
  -v /etc/nginx/index.html:/usr/share/nginx/html/index.html \
  -v /etc/nginx/nginx.conf:/etc/nginx/nginx.conf \
  -v /etc/nginx/conf.d:/etc/nginx/conf.d \
  --name %n nginx:latest
ExecStart=/usr/bin/docker start -a %n
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
