<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('_head') %>
</head>
    <body>
        <%- include('./_header') %>
        <div class="container">
            <h1>
                <%= title %>
            </h1>
        </div>
    </body>
</html>